/*[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-placeholder);
    color:#888;
}

[contentEditable=true].empty:not(:focus):before{
    content:attr(data-placeholder);
    color:#888;
}*/

/*.rich-editor :first-child:empty:not(:focus):before{
	content: 'yay';
	background-color:yellow;
	color:#888;
}*/


.rich-editor:not(:focus).empty :first-child:first-child:before{
	content: 'Click here to start typing';
	color:#888;
}

.atomic-element:before{
  content:attr(data-atomic-content);
}
