
.st-rich-editor:empty:before,
.st-rich-editor :only-child:empty:before
{
	content: 'Click here to start typing';
	color:#888;
}

.st-single-line-field.empty:before{
	content: attr(data-placeholder);
	color:#888;
}

input.atomic-element{
	font-style:inherit;
	font-weight:inherit;
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
}