
.rich-editor:not(:focus).empty :first-child:first-child:before{
	content: 'Click here to start typing';
	color:#888;
}

input.atomic-element{
	font-style:inherit;
	font-weight:inherit;
	background: transparent;
	border: 0;
	margin: 0;
	padding: 0;
}